.banner{
    background: url("../imgs/banner1.jpg") center center;
    background-size: cover;
    height: 50vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner__container{
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    width: 100%;
    max-width: 1300px;
    z-index: 1;
}
.banner__container::after{
    content:'';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .4;
    z-index: -1;
}

.banner__h1 {
    margin-left: 80px;
    margin-bottom: 50px;
}

.banner__h1 > h1{
    font-family: 'SLEIGothicTTF';
    color: #EFC94C;
    bottom: 0;
}
